<div class="logoContainer centering">
  <img height="75" alt="QwikCut Logo" src="https://qwikbox.s3.amazonaws.com/qwikcut-store-listing-logo.png">
</div>
<div class="pageTitleContainer centering">
  <div class="centering">
    <h1 class="pageTitle">
      Welcome to {{ title }}!
    </h1>
  </div>
  
   <div>
    <div class="clipTitleBar">
      <h1>ClipNumber: {{clips[currentClip].clipnumber}}</h1>
      <p>
        <strong>Personnel:</strong> {{clips[currentClip].personnel}}<br>
        <strong>Down:</strong> {{clips[currentClip].down}}<br>
        <strong>Distance:</strong> {{clips[currentClip].distance}}
      </p>
    </div>
    <app-player
      [clip]="clips[currentClip]"
      [nextClip]="nextClip.bind(this)"
      [prevClip]="prevClip.bind(this)"
      [playNextClip]="playNextClip.bind(this)"
    >
    </app-player>
    <div class="clipLibraryContainer">
      <h3>Clip Library</h3>
      <div class="clipLibraryScrollContainer">
        <div *ngFor="let clip of clips">
          <div class="clipLibraryItem" (click)="selectClip(clip.clipnumber)" [style.background-color]="((currentClip + 1) == clip.clipnumber) ? 'darkgreen' : 'darkblue'">
            Clip: {{clip.clipnumber}} <br>
            Personnel: {{clip.personnel}} <br>
            Down: {{clip.down}} <br>
            Distance: {{clip.distance}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>